* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lora";
  src: url(../assets/fonts/Lora-Regular.ttf);
}
header {
  background-image: url(../assets/img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: header;
  width: 100%;
}
header a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  font-family: Lora;
  font-weight: bold;
}
header nav {
  width: 100%;
  font-weight: bold;
}
header nav a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: 1.25rem;
}
header nav .navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
header nav .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}
header nav .navbar-nav a:hover {
  background: #177348;
  opacity: 60%;
  font-weight: bold;
  font-size: large;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: whitesmoke;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
/*grids*/
main {
  display: grid;
  background-color: #cb4a9a;
  height: 100vh;
  grid-template-areas: "header" "section" "h2" "card1" "card2" "card3" "footer";
}

/*Propiedades para Section*/
section {
  background-image: linear-gradient(to bottom, #cb4a9a, white);
  grid-area: section;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
}
section .titulo {
  padding: 2rem;
  color: #2e0259;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 2.4375rem;
}
section div.container .texto {
  color: #2e0259;
  font-size: 1.125rem;
}
section div.container ul li {
  color: #2e0259;
  font-size: 1.125rem;
}
section div.container .card {
  max-width: 48rem;
}
section div.container .card-title {
  color: #2e0259;
  font-family: Lora;
  font-size: 1.5625rem;
  font-weight: bold;
}
section div.container .card-text {
  color: #2e0259;
  font-family: Montserrat;
}

h4{
  color: #2e0259;
  font-family: Lora;
  font-weight: bold;
}

.video{
  display: flex;
  float: center;
}
/*Propiedades botones*/
.btn {
  display: block;
  margin-top: 1rem;
}

.textoMerch {
  color: #2e0259;
  font-family: Montserrat;
  font-size: 1.125rem;
  justify-content: center;
}

/*Propiedades para Footer*/
footer {
  background: #177348;
  grid-area: footer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
footer .textoFooter {
  font-family: Montserrat;
  font-weight: bold;
}

.card {
  background: transparent;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.titulo {
  text-align: center;
}

h1 {
  color: whitesmoke;
}

.textoFooter {
  color: whitesmoke;
}

.imagenDerecha, .imagenIzquierda {
  width: 30rem;
  height: 15rem;
  object-fit: scale-down;
}

.imagenIzquierda {
  float: left;
}

.imagenDerecha {
  float: right;
}

.texto {
  padding-right: 1rem;
  text-align: left;
  margin: 0.5rem;
  display: inline-block;
}

.listaEnTexto {
  padding-right: 1rem;
  text-align: left;
  margin: 0.5rem;
  display: block;
}

.textoMerch {
  padding-right: 1rem;
  text-align: left;
  margin: 0.5rem;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
