*{
    margin: 0;
    padding: 0;
}



@font-face{
    font-family: "Lora";
    src: url(../assets/fonts/Lora-Regular.ttf);
}

@import "components/header";
@import "components/section";
@import "components/footer";
@import "base/typoTextos";
@import "base/maps";
@import "base/extends";
@import "base/mixin"

