@import "../base/typoTextos";


//anidación header
header{
    background-image: url(../assets/img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fuenteTextoTitulos;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-area: header;
    width: 100%;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        font-family: Lora;
        font-weight: bold;
    }
    nav{
        width: 100%;
        font-weight: bold;
        a{
            text-decoration: none;
            color: whitesmoke;
            display: inline-block;
            padding: 1.25rem;
        }
        .navContainer{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .navbar-collapse {
            flex-basis: 100%;
            flex-grow: 1;
            align-items: center;
            justify-content: space-evenly;
        }
        .navbar-nav{
            a{
                &:hover{
                    background: #177348;
                    opacity: 60%;
                    font-weight: bold;
                    font-size: large;
                }
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: whitesmoke;
}
